@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#root {  
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 48%, 15%));
}

@theme {
  /* Primary Colors */
  --color-gold-500: hsl(39, 89%, 49%);
  --color-gold-600: hsl(28, 76%, 44%);
  --color-blue-500: hsl(230, 89%, 62%);
  --color-blue-700: hsl(229, 64%, 46%);
  --color-red-600: hsl(349, 71%, 52%);
  --color-red-800: hsl(347, 75%, 35%);
  --color-purple-600: hsl(261, 73%, 60%);
  --color-purple-700: hsl(261, 51%, 44%);
  --color-light-blue-400: hsl(189, 59%, 53%);
  --color-light-blue-500: hsl(194, 58%, 42%);

  /* Neutral */
  --color-navy-900: hsl(229, 50%, 31%);
  --color-blue-700: hsl(229, 64%, 46%);
  --color-gray-600: hsl(246, 11%, 37%);
}

.choice-button-container {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}
.choice-button-container.preview {
  position: absolute;
}
.choice-button-container.preview:active {
  transform: translateY(-4px);
  box-shadow: 0;
}

.choice-button {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.paper {
  background-color: var(--color-blue-500);
  box-shadow: 0 8px 0 var(--color-blue-700);
}
.paper.preview {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.paper.preview:active {
  transform: translate(-50%, calc(-50% + 12px));
}

.scissors {
  background-color: var(--color-gold-500);
  box-shadow: 0 8px 0 var(--color-gold-600);
}
.scissors.preview {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.scissors.preview:active {
  transform: translate(50%, calc(-50% + 12px));
}

.rock {
  background-color: var(--color-red-600);
  box-shadow: 0 8px 0 var(--color-red-800);
}
.rock.preview {
  bottom: 0;
  transform: translate(0, 25%);
}
.rock.preview:active {
  transform: translate(0, calc(25% + 12px));
}

.pop-in {
  animation: pop-in 0.3s ease-out;
}

.pop-out {
  animation: pop-out 0.3s ease-in;
}

.win {
  animation: pop-in 0.5s ease-out;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media (max-width: 640px) {
  .choice-button-container.preview {
    padding: 12px;
  }
  .choice-button.preview {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .choice-button-container {
    padding: 12px;
  }
  .choice-button {
    padding: 24px;
  }
}
